<html>

<head>
	<title></title>
</head>

<body>
<div class="content">
	<div class="container">
		<div class="row">
			<div style="text-align:center;">
				<h1 style="text-align:center;  color: #B2C930; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Add movie </h1>

				<h5 style="color:white; font-weight:bold;">Name:</h5> <input style="width:30em; border: 3px solid #B2C930; border-radius: 2px" type="text" id="name" value=""></input><br><br>
				<h5 style="color:white; font-weight:bold;">Genre:</h5> <input style="width:30em; border: 3px solid #B2C930; border-radius: 2px" type="text" id="genre" value=""></input><br><br>
				<h5 style="color:white; font-weight:bold;">Year:</h5> <input style="width:30em; border: 3px solid #B2C930; border-radius: 2px" type="text" id="year" value=""></input>><br><br>
				<a class="button blue save" style="margin-right:2em;">Save</a>
				<a href="/movies" class="button red cancel">Cancel</a>
			</div>
		</div>
	</div>
</div>


</body>

</html>