<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div style="text-align:center">
					<h3 style="font-weight:bold;">Get in touch</h3>
					<ul class="list">
						<li>Frana Bošnjakovića 8</li>
						<li>10000 Zagreb</li>
						<li>Croatia</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
					<div style="text-align:center">
				<h3 style="font-weight:bold;">Contact</h3>
				<ul class="list">
					<li>Telephone : +385(0)91 5020820</li>
					<li>Email borming@borming.hr</li>
					<li>OIB : 20890046860 </li>
					<li>Raiffeisen Bank : HR1824840081100656406</li>
				</ul>
				</div>
			</div>
		
			<div class="col-sm-4">
				<div style="text-align:center">
				<h3 style="font-weight:bold;">Receive our newsletter</h3>
				<ul class="list">
					<li>We are talking about HTML</li>
					<li>Responsive Design</li>
					<li>Frameworks, Mobile Applications etc.</li>
				</ul>
				<br>
				<div style="padding-bottom:30px;">
				<input type="text" placeholder="Enter your email address" id="genre" value=""></input>
				</div>
				<div style="padding-bottom:30px;">
				<a class="button red " >SUBSCRIBE </a>
				</div>
				</div>
			</div>
		</div>

	<div>
		
	</div>

	</div>
</div>
	
	<div class="row">
	<div class="col-sm-12">
	<div style="color:white; background-color:#1F1F1F; margin-bottom:0px; height:50px; " >
		<div class="container">
		<p style="margin-top:1em;" >Copyright 2017 Borming</p>
		</div>
	</div>
	</div>
	</div>