<div class="container">
	<div class="row">


		<div class="col-sm-4">
			<h1>{{ime}}</h1>
			<a href='/auti/{{ID}}'>
					<img src="{{slika}}" class="img-responsive">
				</a>
			<h4>{{boja}}</h4>
		</div>


	</div>
</div>