<div class="marko" style="background-color:#3D3D3D; border:1px solid #B2C930;  margin-bottom:30px; padding: 20px; border-radius: 10px; height:250px;">
	<div style="text-align:justify; margin-bottom:15px; height:130px; ">
	<span style="color: white;"><strong style="color:#B2C930">First name:</strong> {{ Name}}</span><br><br>
	<span style="color: white;"><strong style="color:#B2C930">Last name:</strong> {{ Surname}}</span><br><br>
	<span style="color: white;"><strong style="color:#B2C930">Phone Number:</strong> {{ PhoneNumber}}</span><br><br>
</div>
	<div class="buttons2" style="text-align:center; position:relative; margin-bottom:2px; ">
	<span> 
	<a href="/editPerson/{{id}}" style="margin-top:10px; margin-right: 1.5em;" class="button blue edit" >EDIT</a>
	<a class="button red delete" > DELETE </a>
	
	</span>
	</div>
</div>