<html>

<head>
	<title></title>
</head>

<body>
	<div style="background-color:#1F1F1F;">
	<div class="container">
		<div class="row">
			<div class="heading">
				<div style="border-bottom: 5px solid black; margin-bottom:20px; margin-top:70px;">
						<h1 style="text-align:center;  color:#B2C930; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">MOVIE USERS</h1>
					<div  style="text-align:center;">
						<a href="addPerson"><button class="button1 add" style="margin-bottom:35px; font-weight:bold; font-size: 18px">ADD NEW USER</button></a>
					</div>
				</div>
			</div>
				<div id="list"></div>
		</div>
	</div>
	</div>
</body>

</html>
<html>




	
		
			
			


	
