
 <div class="tekst1" style="background-color:#3D3D3D; border:1px solid #B2C930;  margin-bottom:30px; padding: 20px; border-radius: 10px; height:250px;" >
	 <div style="text-align:justify; margin-bottom:15px; height:130px; ">
		<span style="color: white;"><strong style="color:#B2C930">Users name: </strong> {{ Name}} {{ Surname}}</span><br><br>
		<span style="color: white;"><strong style="color:#B2C930">Rented movie: </strong> {{ name}}</span><br><br>
		<span style="color: white;"><strong style="color:#B2C930">Date: </strong> {{ date}}</span><br><br>
		<div class="buttons2" style="text-align:center; position:relative; margin-bottom:2px; margin-top:55px;">
			<span style="color: black;">

				<a class="button button red delete" style="margin-right: 1.5em;"> DELETE </a>
				<a class="button button red return_movie"> RETURN </a>
				
			</span>
		</div>
	</div>
</div>