<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<a href="auti/dodaj/mercedes">
			<img src="http://www.car-brand-names.com/wp-content/uploads/2015/05/Mercedes-Benz-logo-3.jpg" class="img-responsive"><div class="tekst"></div>
			</a>
		</div>

        <div class="col-sm-3">
			<a href="auti/dodaj/bmw">
			<img src="http://www.car-brand-names.com/wp-content/uploads/2015/04/BMW-symbol.jpg" class="img-responsive">
			</a>
		</div>

        <div class="col-sm-3">
			<a href="auti/dodaj/ferrari">
			<img src="http://wallpapercave.com/wp/UJyOBGm.jpg" class="img-responsive">
			</a>
		</div>

           
	</div>
</div>


