<div class="text-center">
	<img src="/assets/404.svg" style="width:220px;">
	<h5>Oh cool, you found a lost tresure ! We proudly present you a</h5>
	<h1>404 page</h1>
	<p>Oooops, the content you are looking for is missing? <br>
	Maybe our programmers screwed something up, again or you misspeled the link. <br> Eather way we are really sorry for this but there is nothing we can do to help you. </p>
</div>

